{{#each erros}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Editar empréstimo</h3>
<div class="card">
    <div class="car-body"></div>
    <form action="/admin/emprestimo/edit" method="POST">
    <input type="hidden" name="id", value="{{categorias._id}}">
    <label for="codigo">Código: </label>
    <input type="text" name="codigo" id="codigo" placeholder="codigo da categoria" class="form-control" value="{{categorias.codigo}}">
    <label for="destino">Destino: </label>
    <input type="text" name="destino" id="destino" placeholder="destino da categoria" class="form-control" value="{{categorias.destino}}">
    <br>
    <button type="submit" class="btn btn-success">Editar empréstimo</button>
</form>
</div>
</div>